{% extends "base.html"%}
{% load staticfiles %}
{% block head %}
	<title>Голосование</title>
	<script type="text/javascript">
		var voite_update = function() {
			var xmlhttp = new XMLHttpRequest()
			xmlhttp.open('GET', '/voite?update=true', true);
			xmlhttp.onreadystatechange = function() {
				if (xmlhttp.readyState == 4) {
					if(xmlhttp.status == 200) {
						data = JSON.parse(xmlhttp.responseText)["data"];
						data.forEach(function(item, i, data) {
							document.getElementById(item.pk).textContent=item.voite
						})
					}
				}
			};
			xmlhttp.send(null);
		}
		setInterval(voite_update, 5000)

		var voiting = function(pk, stat) {
			var xmlhttp = new XMLHttpRequest()
			xmlhttp.open('GET', '/voite?voite='+stat+'&pk='+pk, true);
			xmlhttp.onreadystatechange = function() {
				if (xmlhttp.readyState == 4) {
					if(xmlhttp.status == 200) {
						item = JSON.parse(xmlhttp.responseText)["data"];
						document.getElementById(item.pk).textContent=item.voite
					}
				}
			};
			xmlhttp.send(null);
		};
	</script>
{% endblock %}
{% block content %}
	<div>
	{% for obj in data %}
		<div style="float:left; margin-left:2em; text-align:center;">
			<p>{{obj.name}}</p>
			<p><a href="{{obj.photo}}"><img src="{{obj.photo}}" height="300em"></a></p>
			<div>
				{# {% if obj.voite < 10 %} #}
					<img  style="cursor: pointer"src="media/icons/up.png" onclick="voiting({{obj.pk}}, 'up')" height="12em">
				{# {%endif%} #}
			</div>
			<div id={{obj.pk}}>
				{{obj.voite}}
			</div>
			<div>
				<img style="cursor: pointer" src="media/icons/down.png" onclick="voiting({{obj.pk}}, 'down')" height="12em">
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}